* {
  margin: 0 1px;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e2f7f7;
}

.navbar {
  height: 15vmin;
  background-color: #c3f3f1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  font-size: 5vmin;
  font-weight: bold;
  color: #00796b;
  text-decoration: none;
  font-style: italic;
}

.nav-link {
  color: #00796b;
  font-size: 3vmin;
  text-decoration: none;
}

.hero {
  height: 60vmin;
  background-image: url(/images/home_image.jpg);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
}

.hero-msg {
  font-size: 9vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmin;
}

.hero-description {
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmin;
}

.explore-btn {
  font-size: 4vmin;
  background-color: #00796b;
  color: #e2f7f7;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s ease;
}

.explore-btn:hover {
  transform: scale(1.1);
}

.description {
  background-color: #c3f3f1;
  color: black;
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description h3 {
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.description p {
  font-size: 4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore {
  margin-bottom: 2em;
}

.explore h3 {
  font-size: 5vmin;
  padding: 2vmin;
  margin: 2vmin;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 4vmin;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 1em;
  border-top: 7px solid #00796b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 3.5vmin;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card a {
  color: inherit;
  text-decoration: none;
}

.mission {
  background-color: #ccf6f5;
  height: 25vmin;
  text-align: center;
}

.mission h3 {
  font-size: 5vmin;
  color: #026156;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.mission pre {
  font-size: 3vmin;
  color: #00796b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.contact {
  background-color: #d1f2f1;
  text-align: center;
  margin: 1px;
  padding: 15px;
  color: #013932;
}

.contact p {
  font-size: 4vmin;
  font-weight: bold;
}

.contact pre {
  font-size: 3vmin;
}

footer {
  background-color: #c3f3f1;
  text-align: center;
  font-size: 3vmin;
  padding: 4px;
  color: #026156;
}
