* {
  margin: 0px 0.5px 0px 0.5px;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e2f7f7;
}

.navbar {
  height: 15vmin;
  background-color: #c3f3f1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  font-size: 5vmin;
  font-weight: bold;
  color: #00796b;
  text-decoration: none;
  font-style: italic;
}

.nav-link {
  color: #00796b;
  font-size: 3vmin;
  text-decoration: none;
}

.intro {
  text-align: center;
  padding: 3vmin;
  margin: 2vmin;
}

.intro h1 {
  font-size: 6vmin;
  padding: 2vmin;
}

.intro p {
  font-size: 4vmin;
  padding: 2vmin;
}

.age-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 30px;
  gap: 20px;
}

.age-cards {
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  text-align: center;
  color: #00796b;
  border-top: 7px solid #00796b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.age-cards:hover {
  transform: scale(1.1);
}

.mission {
  background-color: #ccf6f5;
  height: 25vmin;
  text-align: center;
}

.mission h3 {
  font-size: 5vmin;
  color: #026156;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.mission pre {
  font-size: 3vmin;
  color: #00796b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.contact {
  background-color: #d1f2f1;
  text-align: center;
  margin: 1px;
  padding: 15px;
  color: #013932;
}

.contact p {
  font-size: 4vmin;
  font-weight: bold;
}

.contact pre {
  font-size: 3vmin;
}

footer {
  background-color: #c3f3f1;
  text-align: center;
  font-size: 3vmin;
  padding: 4px;
  color: #026156;
}
